html * {
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
}

.main-container{
    padding: 0 0 40px 0;
    margin: 0 auto;
}

.sidebar{
    width:100%;
    margin:0 auto;
    padding: 30px 0 30px 0;
}
.section-title{
    font-size: 30px;
    text-align: center
}
.sidebar ul{
    padding:0;
}

.sidebar li{
    display: block;
    text-align: center;
    border-bottom: 1px solid;
    list-style: none;
    width:50%;
    margin: 0 auto;
}

.sidebar li:last-child{
    border-bottom: 0px solid;
}

.sidebar li a{
    display: block;
    padding:10px 20px;
    text-decoration: none;
    color:crimson;
}

.sidebar li a:hover{
    color:darkslateblue;
}
.sidebar li .current{
    color:darkslateblue;
}

.maincol{
    margin: 0 auto;
    padding: 30px 0 30px 0;
    width:95%;
}
.maincol-container h1{
    text-align: center;
    width:80%;
    margin:0 auto;
    border-bottom: 1px solid;
    padding: 10px;
} 
.maincol-container p{
    width:70%;
    margin:0 auto;
    padding:10px 30px;
}
