.header-container {
    display: block;
    width:800px;    /* 변경 부분 */
    margin:0 auto;
    height:300px;
    background-image:url("../src/headline_img.jpg");
    background-size: 100%;
    background-position: 0 30%;
    position:relative;

}

.logo a{
    display: block;
    float:left;
    width:100px;
    height:100px;
    background: #a73;
    font-size:2em;
    text-align: center;
    position: absolute;
    bottom:0px;
    left:0px;
    text-decoration: none;
    color:#324;
    
}

.logo a:hover{
    background: #a30;
}

.nav-container{
    width:800px;    /* 변경 부분 */
    margin: 0 auto;
}
nav ul{
    list-style: none;
    padding:0;
    margin:0;
    overflow: hidden;
}



nav li{
    float:left;
    width:25%;
    text-align: center;
    background-color:darkgoldenrod;
}

nav li .current{
    background-color:#a73;
}

nav ul li a{
    display: block;
    padding:1em 0;
    text-decoration: none;
    color:antiquewhite;
    
}
nav ul li a:hover{
    background-color:#a73;
    
}

.footer-container{
    display: block;
    margin: 0 auto;
    width:800px;     /* 변경 부분 */    
    padding: 10px 20px;
    background:#a73;
    color:#fff;
}
.footer-container p{
    padding:0;
    margin:0;
}